<div class="d-flex justify-content-center">
  <div class="col-8">
    @if (ratingScale()) {
      <div>
        <h2 data-cy="ratingScaleDetailsHeading"><span jhiTranslate="epmsApp.ratingScale.detail.title">Rating Scale</span></h2>

        <hr />

        <jhi-alert-error></jhi-alert-error>

        <jhi-alert></jhi-alert>

        <dl class="row-md jh-entity-details">
          <dt><span jhiTranslate="global.field.id">ID</span></dt>
          <dd>
            <span>{{ ratingScale()!.id }}</span>
          </dd>
          <dt><span jhiTranslate="epmsApp.ratingScale.scaletype">Scaletype</span></dt>
          <dd>
            <span>{{ ratingScale()!.scaletype }}</span>
          </dd>
          <dt><span jhiTranslate="epmsApp.ratingScale.ratingscales">Ratingscales</span></dt>
          <dd>
            <span>{{ ratingScale()!.ratingscales }}</span>
          </dd>
        </dl>

        <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
          <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
        </button>

        <button type="button" [routerLink]="['/rating-scale', ratingScale()!.id, 'edit']" class="btn btn-primary">
          <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
        </button>
      </div>
    }
  </div>
</div>
