<div class="d-flex justify-content-center">
  <div class="col-8">
    @if (employee()) {
      <div>
        <h2 data-cy="employeeDetailsHeading"><span jhiTranslate="epmsApp.employee.detail.title">Employee</span></h2>

        <hr />

        <jhi-alert-error></jhi-alert-error>

        <jhi-alert></jhi-alert>

        <dl class="row-md jh-entity-details">
          <dt><span jhiTranslate="global.field.id">ID</span></dt>
          <dd>
            <span>{{ employee()!.id }}</span>
          </dd>
          <dt><span jhiTranslate="epmsApp.employee.firstname">Firstname</span></dt>
          <dd>
            <span>{{ employee()!.firstname }}</span>
          </dd>
          <dt><span jhiTranslate="epmsApp.employee.lastname">Lastname</span></dt>
          <dd>
            <span>{{ employee()!.lastname }}</span>
          </dd>
          <dt><span jhiTranslate="epmsApp.employee.pin">Pin</span></dt>
          <dd>
            <span>{{ employee()!.pin }}</span>
          </dd>
          <dt><span jhiTranslate="epmsApp.employee.project">Project</span></dt>
          <dd>
            <span>{{ employee()!.project }}</span>
          </dd>
          <dt><span jhiTranslate="epmsApp.employee.employeeCategory">Employee Category</span></dt>
          <dd>
            <span [jhiTranslate]="'epmsApp.EmployeeCategory.' + (employee()!.employeeCategory ?? 'null')">{{
              { null: '', REGULAR: 'REGULAR', CONTRACT: 'CONTRACT', UNKNOWN: 'UNKNOWN', INTERN: 'INTERN' }[
                employee()!.employeeCategory ?? 'null'
              ]
            }}</span>
          </dd>
          <dt><span jhiTranslate="epmsApp.employee.designation">Designation</span></dt>
          <dd>
            <span>{{ employee()!.designation }}</span>
          </dd>
          <dt><span jhiTranslate="epmsApp.employee.functionalDesignation">Functional Designation</span></dt>
          <dd>
            <span>{{ employee()!.functionalDesignation }}</span>
          </dd>
          <dt><span jhiTranslate="epmsApp.employee.joiningDate">Joining Date</span></dt>
          <dd>
            <span>{{ employee()!.joiningDate | formatMediumDatetime }}</span>
          </dd>
          <dt><span jhiTranslate="epmsApp.employee.currentOffice">Current Office</span></dt>
          <dd>
            <span>{{ employee()!.currentOffice }}</span>
          </dd>
          <dt><span jhiTranslate="epmsApp.employee.jobStatus">Job Status</span></dt>
          <dd>
            <span [jhiTranslate]="'epmsApp.JobStatus.' + (employee()!.jobStatus ?? 'null')">{{
              { null: '', ACTIVE: 'ACTIVE', INACTIVE: 'INACTIVE' }[employee()!.jobStatus ?? 'null']
            }}</span>
          </dd>
          <dt><span jhiTranslate="epmsApp.employee.employeeStatus">Employee Status</span></dt>
          <dd>
            <span [jhiTranslate]="'epmsApp.EmployeeStatus.' + (employee()!.employeeStatus ?? 'null')">{{
              { null: '', CONFIRM: 'CONFIRM', NONCONFIRM: 'NONCONFIRM' }[employee()!.employeeStatus ?? 'null']
            }}</span>
          </dd>
          <dt><span jhiTranslate="epmsApp.employee.dateOfBirth">Date Of Birth</span></dt>
          <dd>
            <span>{{ employee()!.dateOfBirth | formatMediumDate }}</span>
          </dd>
          <dt><span jhiTranslate="epmsApp.employee.gender">Gender</span></dt>
          <dd>
            <span [jhiTranslate]="'epmsApp.Gender.' + (employee()!.gender ?? 'null')">{{
              { null: '', MALE: 'MALE', FEMALE: 'FEMALE', OTHER: 'OTHER' }[employee()!.gender ?? 'null']
            }}</span>
          </dd>
          <dt><span jhiTranslate="epmsApp.employee.mobile">Mobile</span></dt>
          <dd>
            <span>{{ employee()!.mobile }}</span>
          </dd>
          <dt><span jhiTranslate="epmsApp.employee.email">Email</span></dt>
          <dd>
            <span>{{ employee()!.email }}</span>
          </dd>
          <dt><span jhiTranslate="epmsApp.employee.grade">Grade</span></dt>
          <dd>
            <span>{{ employee()!.grade }}</span>
          </dd>
          <dt><span jhiTranslate="epmsApp.employee.profile">Profile</span></dt>
          <dd>
            @if (employee()!.profile) {
              <div>
                <a (click)="openFile(employee()!.profile ?? '', employee()!.profileContentType)">
                  <img
                    [src]="'data:' + employee()!.profileContentType + ';base64,' + employee()!.profile"
                    style="max-width: 100%"
                    alt="employee"
                  />
                </a>
                {{ employee()!.profileContentType }}, {{ byteSize(employee()!.profile ?? '') }}
              </div>
            }
          </dd>
          <dt><span jhiTranslate="epmsApp.employee.supervisor">Supervisor</span></dt>
          <dd>
            @if (employee()!.supervisor) {
              <div>
                <a [routerLink]="['/employee', employee()!.supervisor?.id, 'view']">{{ employee()!.supervisor?.pin }}</a>
              </div>
            }
          </dd>
        </dl>

        <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
          <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
        </button>

        <button type="button" [routerLink]="['/employee', employee()!.id, 'edit']" class="btn btn-primary">
          <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
        </button>
      </div>
    }
  </div>
</div>
