<div class="d-flex justify-content-center">
  <div class="col-8">
    <form name="editForm" novalidate (ngSubmit)="save()" [formGroup]="editForm">
      <h2
        id="jhi-extraquestion-ans-heading"
        data-cy="ExtraquestionAnsCreateUpdateHeading"
        jhiTranslate="epmsApp.extraquestionAns.home.createOrEditLabel"
      >
        Create or edit a Extraquestion Ans
      </h2>

      <div>
        <jhi-alert-error></jhi-alert-error>

        @if (editForm.controls.id.value !== null) {
          <div class="mb-3">
            <label class="form-label" for="field_id" jhiTranslate="epmsApp.extraquestionAns.id">ID</label>
            <input type="number" class="form-control" name="id" id="field_id" data-cy="id" formControlName="id" [readonly]="true" />
          </div>
        }

        <div class="mb-3">
          <label class="form-label" for="field_questionans" jhiTranslate="epmsApp.extraquestionAns.questionans">Questionans</label>
          <input
            type="text"
            class="form-control"
            name="questionans"
            id="field_questionans"
            data-cy="questionans"
            formControlName="questionans"
          />
          @if (editForm.get('questionans')!.invalid && (editForm.get('questionans')!.dirty || editForm.get('questionans')!.touched)) {
            <div>
              @if (editForm.get('questionans')?.errors?.required) {
                <small class="form-text text-danger" jhiTranslate="entity.validation.required">This field is required.</small>
              }
            </div>
          }
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_questions" jhiTranslate="epmsApp.extraquestionAns.questions">Questions</label>
          <select
            class="form-control"
            id="field_questions"
            data-cy="questions"
            name="questions"
            formControlName="questions"
            [compareWith]="compareExtraquestion"
          >
            <option [ngValue]="null"></option>
            @for (extraquestionOption of extraquestionsSharedCollection; track $index) {
              <option [ngValue]="extraquestionOption">{{ extraquestionOption.id }}</option>
            }
          </select>
        </div>
      </div>

      <div>
        <button type="button" id="cancel-save" data-cy="entityCreateCancelButton" class="btn btn-secondary" (click)="previousState()">
          <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>

        <button
          type="submit"
          id="save-entity"
          data-cy="entityCreateSaveButton"
          [disabled]="editForm.invalid || isSaving"
          class="btn btn-primary"
        >
          <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
      </div>
    </form>
  </div>
</div>
