<div class="d-flex justify-content-center">
  <div class="col-8">
    <form name="editForm" novalidate (ngSubmit)="save()" [formGroup]="editForm">
      <h2
        id="jhi-skill-development-details-heading"
        data-cy="SkillDevelopmentDetailsCreateUpdateHeading"
        jhiTranslate="epmsApp.skillDevelopmentDetails.home.createOrEditLabel"
      >
        Create or edit a Skill Development Details
      </h2>

      <div>
        <jhi-alert-error></jhi-alert-error>

        @if (editForm.controls.id.value !== null) {
          <div class="mb-3">
            <label class="form-label" for="field_id" jhiTranslate="epmsApp.skillDevelopmentDetails.id">ID</label>
            <input type="number" class="form-control" name="id" id="field_id" data-cy="id" formControlName="id" [readonly]="true" />
          </div>
        }

        <div class="mb-3">
          <label class="form-label" for="field_skillDevelopmentType" jhiTranslate="epmsApp.skillDevelopmentDetails.skillDevelopmentType"
            >Skill Development Type</label
          >
          <select
            class="form-control"
            id="field_skillDevelopmentType"
            data-cy="skillDevelopmentType"
            name="skillDevelopmentType"
            formControlName="skillDevelopmentType"
            [compareWith]="compareSkillDevelopmentType"
          >
            <option [ngValue]="null"></option>
            @for (skillDevelopmentTypeOption of skillDevelopmentTypesSharedCollection; track $index) {
              <option [ngValue]="skillDevelopmentTypeOption">{{ skillDevelopmentTypeOption.skilldevelopmentname }}</option>
            }
          </select>
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_responder" jhiTranslate="epmsApp.skillDevelopmentDetails.responder">Responder</label>
          <select
            class="form-control"
            id="field_responder"
            data-cy="responder"
            name="responder"
            formControlName="responder"
            [compareWith]="compareFeedbackResponder"
          >
            <option [ngValue]="null"></option>
            @for (feedbackResponderOption of feedbackRespondersSharedCollection; track $index) {
              <option [ngValue]="feedbackResponderOption">{{ feedbackResponderOption.id }}</option>
            }
          </select>
        </div>
      </div>

      <div>
        <button type="button" id="cancel-save" data-cy="entityCreateCancelButton" class="btn btn-secondary" (click)="previousState()">
          <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>

        <button
          type="submit"
          id="save-entity"
          data-cy="entityCreateSaveButton"
          [disabled]="editForm.invalid || isSaving"
          class="btn btn-primary"
        >
          <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
      </div>
    </form>
  </div>
</div>
