<div>
  <h2 id="page-heading" data-cy="SkillDevelopmentDetailsHeading">
    <span jhiTranslate="epmsApp.skillDevelopmentDetails.home.title">Skill Development Details</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info me-2" (click)="load()" [disabled]="isLoading">
        <!--        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>-->
        <span jhiTranslate="epmsApp.skillDevelopmentDetails.home.refreshListLabel">Refresh list</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-skill-development-details"
        [routerLink]="['/skill-development-details/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span jhiTranslate="epmsApp.skillDevelopmentDetails.home.createLabel">Create a new Skill Development Details</span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  @if (skillDevelopmentDetails?.length === 0) {
    <div class="alert alert-warning" id="no-result">
      <span jhiTranslate="epmsApp.skillDevelopmentDetails.home.notFound">No Skill Development Details found</span>
    </div>
  }

  @if (skillDevelopmentDetails && skillDevelopmentDetails.length > 0) {
    <div class="table-responsive table-entities" id="entities">
      <table class="table table-striped" aria-describedby="page-heading">
        <thead>
          <tr jhiSort [sortState]="sortState" (sortChange)="navigateToWithComponentValues($event)">
            <th scope="col" jhiSortBy="id">
              <div class="d-flex">
                <span jhiTranslate="global.field.id">ID</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="skillDevelopmentType.skilldevelopmentname">
              <div class="d-flex">
                <span jhiTranslate="epmsApp.skillDevelopmentDetails.skillDevelopmentType">Skill Development Type</span>
                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="responder.id">
              <div class="d-flex">
                <span jhiTranslate="epmsApp.skillDevelopmentDetails.responder">Responder</span>
                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col"></th>
          </tr>
        </thead>
        <tbody>
          @for (skillDevelopmentDetails of skillDevelopmentDetails; track trackId) {
            <tr data-cy="entityTable">
              <td>
                <a [routerLink]="['/skill-development-details', skillDevelopmentDetails.id, 'view']">{{ skillDevelopmentDetails.id }}</a>
              </td>
              <td>
                @if (skillDevelopmentDetails.skillDevelopmentType) {
                  <div>
                    <a [routerLink]="['/skill-development-type', skillDevelopmentDetails.skillDevelopmentType.id, 'view']">{{
                      skillDevelopmentDetails.skillDevelopmentType.skilldevelopmentname
                    }}</a>
                  </div>
                }
              </td>
              <td>
                @if (skillDevelopmentDetails.responder) {
                  <div>
                    <a [routerLink]="['/feedback-responder', skillDevelopmentDetails.responder.id, 'view']">{{
                      skillDevelopmentDetails.responder.id
                    }}</a>
                  </div>
                }
              </td>
              <td class="text-end">
                <div class="btn-group">
                  <a
                    [routerLink]="['/skill-development-details', skillDevelopmentDetails.id, 'view']"
                    class="btn btn-info btn-sm"
                    data-cy="entityDetailsButton"
                  >
                    <fa-icon icon="eye"></fa-icon>
                    <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                  </a>

                  <a
                    [routerLink]="['/skill-development-details', skillDevelopmentDetails.id, 'edit']"
                    class="btn btn-primary btn-sm"
                    data-cy="entityEditButton"
                  >
                    <fa-icon icon="pencil-alt"></fa-icon>
                    <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                  </a>

                  <button
                    type="submit"
                    (click)="delete(skillDevelopmentDetails)"
                    class="btn btn-danger btn-sm"
                    data-cy="entityDeleteButton"
                  >
                    <fa-icon icon="times"></fa-icon>
                    <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                  </button>
                </div>
              </td>
            </tr>
          }
        </tbody>
      </table>
    </div>
  }
</div>
