<div>
  <h2 id="page-heading" data-cy="ExtraquestionHeading">
    <span jhiTranslate="epmsApp.extraquestion.home.title">Extraquestions</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info me-2" (click)="load()" [disabled]="isLoading">
        <!--        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>-->
        <span jhiTranslate="epmsApp.extraquestion.home.refreshListLabel">Refresh list</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-extraquestion"
        [routerLink]="['/extraquestion/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span jhiTranslate="epmsApp.extraquestion.home.createLabel">Create a new Extraquestion</span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  @if (extraquestions?.length === 0) {
    <div class="alert alert-warning" id="no-result">
      <span jhiTranslate="epmsApp.extraquestion.home.notFound">No Extraquestions found</span>
    </div>
  }

  @if (extraquestions && extraquestions.length > 0) {
    <div class="table-responsive table-entities" id="entities">
      <table class="table table-striped" aria-describedby="page-heading">
        <thead>
          <tr jhiSort [sortState]="sortState" (sortChange)="navigateToWithComponentValues($event)">
            <th scope="col" jhiSortBy="id">
              <div class="d-flex">
                <span jhiTranslate="global.field.id">ID</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="question">
              <div class="d-flex">
                <span jhiTranslate="epmsApp.extraquestion.question">Question</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="feedback.id">
              <div class="d-flex">
                <span jhiTranslate="epmsApp.extraquestion.feedback">Feedback</span>
                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col"></th>
          </tr>
        </thead>
        <tbody>
          @for (extraquestion of extraquestions; track trackId) {
            <tr data-cy="entityTable">
              <td>
                <a [routerLink]="['/extraquestion', extraquestion.id, 'view']">{{ extraquestion.id }}</a>
              </td>
              <td>{{ extraquestion.question }}</td>
              <td>
                @if (extraquestion.feedback) {
                  <div>
                    <a [routerLink]="['/feedback', extraquestion.feedback.id, 'view']">{{ extraquestion.feedback.id }}</a>
                  </div>
                }
              </td>
              <td class="text-end">
                <div class="btn-group">
                  <a [routerLink]="['/extraquestion', extraquestion.id, 'view']" class="btn btn-info btn-sm" data-cy="entityDetailsButton">
                    <fa-icon icon="eye"></fa-icon>
                    <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                  </a>

                  <a [routerLink]="['/extraquestion', extraquestion.id, 'edit']" class="btn btn-primary btn-sm" data-cy="entityEditButton">
                    <fa-icon icon="pencil-alt"></fa-icon>
                    <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                  </a>

                  <button type="submit" (click)="delete(extraquestion)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                    <fa-icon icon="times"></fa-icon>
                    <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                  </button>
                </div>
              </td>
            </tr>
          }
        </tbody>
      </table>
    </div>
  }
</div>
