<div class="d-flex justify-content-center">
  <div class="col-8">
    @if (extraquestionAns()) {
      <div>
        <h2 data-cy="extraquestionAnsDetailsHeading">
          <span jhiTranslate="epmsApp.extraquestionAns.detail.title">Extraquestion Ans</span>
        </h2>

        <hr />

        <jhi-alert-error></jhi-alert-error>

        <jhi-alert></jhi-alert>

        <dl class="row-md jh-entity-details">
          <dt><span jhiTranslate="global.field.id">ID</span></dt>
          <dd>
            <span>{{ extraquestionAns()!.id }}</span>
          </dd>
          <dt><span jhiTranslate="epmsApp.extraquestionAns.questionans">Questionans</span></dt>
          <dd>
            <span>{{ extraquestionAns()!.questionans }}</span>
          </dd>
          <dt><span jhiTranslate="epmsApp.extraquestionAns.questions">Questions</span></dt>
          <dd>
            @if (extraquestionAns()!.questions) {
              <div>
                <a [routerLink]="['/extraquestion', extraquestionAns()!.questions?.id, 'view']">{{ extraquestionAns()!.questions?.id }}</a>
              </div>
            }
          </dd>
        </dl>

        <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
          <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
        </button>

        <button type="button" [routerLink]="['/extraquestion-ans', extraquestionAns()!.id, 'edit']" class="btn btn-primary">
          <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
        </button>
      </div>
    }
  </div>
</div>
